<div class="container">
    <div class="ui-g">
        <div class="ui-g-9">
            <h1>{{pageTitle}}</h1>
            <hr />
        </div>
        <div class="ui-g-9">
            <form [formGroup]="pessoaCadForm">
                <div class="ui-g-12 ">
                    <div class="ui-g-6 ui-fluid">
                        <label>Nome</label>
                        <input pInputText type="text" class="form-control" placeholder="Nome" formControlName="nome">
                    </div>
                    <div class="ui-g-3 ui-fluid">
                        <label>CPF</label>
                        <input pInputText type="text" class="form-control" placeholder="CPF" formControlName="cpf">
                    </div>
                </div>
                <div class="ui-g-12 ">
                    <div class="ui-g-6 ui-fluid">
                        <label>Email</label>
                        <input pInputText type="email" class="form-control" placeholder="Email" formControlName="email">
                    </div>
                    <div class="ui-g-3 ui-fluid">
                        <label>Data nascimento</label>
                        <p-calendar dateFormat="dd/mm/yy"  formControlName="dataNascimento" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2018"></p-calendar>
                    </div>
                </div>
            </form>
        </div>

        <!--Telefone-->
        <div class="ui-g-9">
            <br />
            <h3>Telefones</h3>
            <hr>
        </div>
        <form [formGroup]="telefonesForm">
            <div class="ui-g-2 ui-fluid">
                <label>DDD</label>
                <input pInputText type="text" class="form-control" placeholder="DDD" formControlName="ddd" />
            </div>
            <div class="ui-g-3 ui-fluid">
                <label>Telefone</label>
                <input pInputText type="text" class="form-control" placeholder="Número" formControlName="numero" />
            </div>
            <div class="ui-g-2 ui-fluid">
                &nbsp;
                <button pButton type="submit" label="Adicionar" (click)="adicionarTelefone()"></button>
            </div>
        </form>
        <div class="ui-g-9">
            <!--Table-->
            <p-table [value]="pessoaSelecionada.telefones" [paginator]="true" [rows]="3" [responsive]="true">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="col-id-header">ID</th>
                        <th class="col-acoes-header">DDD</th>
                        <th class="col-nome-header">Número</th>
                        <th class="col-acoes-header"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-tel>
                    <tr>
                        <td class="col-id">{{tel.id}}</td>
                        <td class="col-nome">{{tel.ddd}}</td>
                        <td class="col-email">{{tel.numero}}</td>
                        <td class="col-acoes">
                            &nbsp;
                            <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top" (click)="removerTelefone(tel)"></button>
                            &nbsp;
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="4">
                            Nenhum Telefone Encontrado!
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div class="ui-g-6 ui-fluid">
            <div class="ui-g-6 ui-fluid">
                <button pButton type="button" (click)="isEdit ? atualizar() : salvar()" [title]="!pessoaCadForm.valid ? 'Preencha os campos obrigatórios' : 'Salvar'"
                    label="Salvar"></button>
            </div>
            <div class="ui-g-6 ui-fluid">
                <button pButton type="button" label="Voltar" routerLink="/pessoa"></button>
            </div>
        </div>
    </div>
</div>