.navbar{
    padding: 10px 0;
    background-color: #2D646A ;
    top:0;
}
.navbar-toggle{
    color: #FDFEFD;
}
a:hover {
	text-decoration: underline; 
	color:#94B2B4 
	}
a:link, a:visited {
	text-decoration: none
	}
a:active {
	text-decoration: none
	}
.navbar-menu{
    position: fixed;
    top:0;
    right: 0;
    bottom: 0;
    margin: 0;
    z-index: 9998;
    background-color: #2D646A;
    list-style: none;
}
.navbar-logo{
    font-weight: bold;
    border-bottom: 1px solid #2d2d2d;
    padding: 15px;
    margin-bottom: 15px;
    color: #FDFEFD;
}

.navbar-menuitem{
    padding: 15px;
}
.navbar-menuitem a{ 
    color: #94B2B4;
}